<?xml version="1.0"?>

<configuration>

    <appSettings>
        <add key="AdministratorContact.EmailAddress" value="paul@trialbalance.net.au" />
        <add key="AdministratorContact.SmtpServer" value="mail.trialbalance.net.au" />
    </appSettings>
    
    <connectionStrings>
        <add name="Main" connectionString="Server=(local);Database=TrialBalance_Dev1;Trusted_connection=false;User ID=sa;Password=ih8redmeat;Connection Timeout=2;Application Name=TrialBalanceWebsite" />
    </connectionStrings>

    <system.web>
        <pages theme="Default" />
        <compilation debug="true" />
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx">
                <credentials passwordFormat="Clear">
                    <user name="Overlord" password="f$3ds@1a" />
                    <user name="BuildPublisher" password="f$3ds@1a" />
                </credentials>
            </forms>
        </authentication>

        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>

    <location path="Administration">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
</configuration>