<?xml version="1.0"?>

<configuration>
  
    <appSettings/>
	
	<connectionStrings>
		<add name="Main" connectionString="Server=(local);Database=TBDS_Test2;Trusted_connection=false;User ID=sa;Password=ih8redmeat" />
	</connectionStrings>
  
    <system.web>
        <compilation debug="true" />
		
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx">
				<credentials passwordFormat="Clear">
					<user name="Overlord" password="f$3ds@1a" />
					<user name="BuildPublisher" password="f$3ds@1a" />
				</credentials>
			</forms>
		</authentication>
		
    </system.web>
</configuration>
